@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-primary: #d62828;
  --color-primary-hover: #b81d1d;
  --color-card-bg: #1e1e1e;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.bg-glass {
  background: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(10px);
}

.bg-about {
  background-color: #09090b; /* zinc-950 */
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #111111; 
}
::-webkit-scrollbar-thumb {
  background: #333333; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
